{% extends 'layout.html' %}

{% block content %}

    <h1>Product List</h1>
    {% for product in product_list %}
        {% if product.image %}
            <img src="{{ product.image.url }}" alt="" style="width: 200px">
        {% endif %}
        <a href="/products/{{ product.id }}/">Title: {{ product.name }}</a>
        <p>Price: {{ product.price }}</p>
        <p>Category: {{ product.category.name }}</p>
        <p>Created Date: {{ product.created_at }}</p>
        <hr/>
    {% endfor %}


{% endblock %}
